<!DOCTYPE html>
<html>
<head>
  <title>FriendFace</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav>
  <ul>
    <% if !signed? %>
      <li><%= link_to 'Register', new_user_path %></li>
      <li><%= link_to 'Sign In', new_session_path %></li>
    <% else %>
      <li><%= link_to 'All notes', notes_path %></li>
      <li><%= link_to 'My notes', '#' %></li>
      <li><%= link_to 'New note', new_note_path %></li>
      <li><%= link_to 'Sign Out', session_path(1), method: :delete%></li>
    <% end %>
  </ul>
</nav>

<%= yield %>

</body>
</html>
